<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="tests" thread-count="2">
    <test name="Authentication Test">
        <classes>
            <class name="ui_tests.AuthenticationTest"/>
        </classes>
    </test>
    <test name="Validation Test">
        <classes>
            <class name="ui_tests.ValidationTest"/>
        </classes>
    </test>
</suite>
